# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Database
*.db
/db/
.db

# Visual Studio Code
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Android
**/android/.gradle
**/android/local.properties
**/android/key.properties
**/android/*.jks
**/android/*.keystore
**/android/app/google-services.json

# iOS
**/ios/.generated.yaml
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/Pods/
**/ios/Podfile.lock

# Windows
**/windows/flutter/ephemeral/

# Linux
**/linux/flutter/ephemeral/

# macOS
**/macos/Flutter/ephemeral/

# Environment variables and secrets
.env
.env.*
! .env.example

# Crashlytics or Analytics
**/ios/firebase_app_id_file.json

# Dummy files or temporary data
*.tmp
*.bak
dump/
dummy/
temp/
__pycache__